{% extends "base.html" %}
{% block conteudo %}
<h2 style="text-align: center;">Cadastrar Equipamentos</h2>
<br>
{% if message %}
<div class="alert alert-danger" role="alert">
	{{ message }}
</div>
<form action="{{url_for('cadastrar_equipamentos')}}" method="POST">
	<div class="form-group">
		<label>Nome</label>
		<input type="text" class="form-control" name="nome" placeholder="Digite o nome do produto" required>
		<label>Código</label>
		<input type="number" class="form-control" name="codigo" placeholder="Digite o código do produto" required>
		<label>QTDE</label>
		<input type="number" class="form-control" name="qtde" placeholder="Digite à quantidade do produto" required>
	</div>
	<button class="btn btn-primary">Adicionar</button>
	<input type="reset" value="Limpar">
</form>
{% else %}
<br>
<form action="{{url_for('cadastrar_equipamentos')}}" method="POST">
	<div class="form-group">
		<label>Nome</label>
		<input type="text" class="form-control" name="nome" placeholder="Digite o nome do produto" required>
		<label>Código</label>
		<input type="number" class="form-control" name="codigo" placeholder="Digite o código do produto" required>
		<label>QTDE</label>
		<input type="number" class="form-control" name="qtde" placeholder="Digite à quantidade do produto" required>
	</div>
	<button class="btn btn-primary">Adicionar</button>
	<input type="reset" value="Limpar">
</form>
{% endif %}
{% endblock conteudo %}
