{% extends "base.html" %}
{% block conteudo %}
<h2 style="text-align: center;">Cadastrar Funcionários</h2>
<br>
{% if message %}
<div class="alert alert-danger" role="alert">
	{{ message }}
</div>
<form action="{{url_for('cadastrar_funcionarios')}}" method="POST">
	<div class="form-group">
		<label>Nome</label>
		<input type="text" class="form-control" name="nome" placeholder="Digite o nome do funcionário" required>
		<label>Email</label>
		<input type="email" class="form-control" name="email" placeholder="Digite o email do funcionário" required>
		<label>Senha</label>
		<input type="password" class="form-control" name="senha" placeholder="Digite sua senha do funcionário" required>
	</div>
	<button class="btn btn-primary">Adicionar</button>
	<input type="reset" value="Limpar">
</form>
{% else %}
<form action="{{url_for('cadastrar_funcionarios')}}" method="POST">
	<div class="form-group">
		<label>Nome</label>
		<input type="text" class="form-control" name="nome" placeholder="Digite o nome do funcionário" required>
		<label>Email</label>
		<input type="email" class="form-control" name="email" placeholder="Digite o email do funcionário" required>
		<label>Senha</label>
		<input type="password" class="form-control" name="senha" placeholder="Digite sua senha do funcionário" required>
	</div>
	<button class="btn btn-primary">Adicionar</button>
	<input type="reset" value="Limpar">
</form>
{% endif %}
{% endblock conteudo %}
